@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
    @apply text-gray-500 hover:text-gray-600 uppercase tracking-wide font-medium relative;
}

.link::after {
    @apply content-[''] absolute w-0 top-5 right-0 border-b-2 border-green-600 transition-all;
}

.link:hover::after {
    @apply w-full;
}